{% extends 'layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      }]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">FFC Calculation Engine Administration</h1>

      <div class="govuk-body">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          {% for item in model.items %}
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    {{ item.heading }}
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                  {% for rule in item.rules %}
                    {% if loop.index % 2 %}
                      <div class="govuk-summary-list__row" style="background-color: #f3f2f1">
                    {% else %}
                      <div class="govuk-summary-list__row">
                    {% endif %}
                      <dt class="govuk-summary-list__key" style="padding-left: 10px">
                        Rule
                      </dt>
                      <dd class="govuk-summary-list__value" style="padding-left: 10px">
                        {{ rule.description }}
                      </dd>
                      <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% if loop.index % 2 %}
                      <div class="govuk-summary-list__row" style="background-color: #f3f2f1">
                    {% else %}
                      <div class="govuk-summary-list__row">
                    {% endif %}
                      <dt class="govuk-summary-list__key" style="padding-left: 10px">
                        Facts
                      </dt>
                      <dd class="govuk-summary-list__value" style="padding-left: 10px">
                        {% for fact in rule.facts %}
                          <div>{{ fact.description }}</div>
                        {% endfor %}
                      </dd>
                      <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% if loop.index % 2 %}
                      <div class="govuk-summary-list__row" style="background-color: #f3f2f1">
                    {% else %}
                      <div class="govuk-summary-list__row">
                    {% endif %}
                      <dt class="govuk-summary-list__key" style="padding-left: 10px">
                        Enabled
                      </dt>
                      <dd class="govuk-summary-list__value" style="padding-left: 10px">
                        {% if rule.enabled %}
                          Yes
                        {% else %}
                          No
                        {% endif %}
                      </dd>
                      <dd class="govuk-summary-list__actions" style="padding-right: 10px">
                        <form method="POST" action="/toggle" style="padding-bottom: -20px">
                          {% if rule.enabled %}
                            {{ govukButton({
                              text: "Disable"
                            }) }}
                          {% else %}
                            {{ govukButton({
                              text: "Enable"
                            }) }}
                          {% endif %}
                        </form>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key"></dt>
                      <dd class="govuk-summary-list__value"></dd>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
