{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Agreements calculator administration</h1>

      <p class="govuk-body">
        This is an administration console to configure action rules for the agreements calculator.
      </p>

      <form method="GET" action="/actions">
        {{ govukButton({
          classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
          isStartButton: true,
          text: "Configure action rules"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
